{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}


{% block content %}


  <!--/.navbar -->
  <div class="offset"></div>
  <div class="dark-wrapper page-title">
    <div class="container inner">
      <h1>Api Engineering</h1>
    </div>
  </div>

<div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
        <p><h5 class="upper colored">API is extremely useful in expanding your app in an open web world. We're here to help you build one.</h5>
        </p> 

<p>API is a buzzword in modern web development, which leads to the communication between different web services. If you own a high-end, dynamic website and plan on expanding your web services through multiple platforms like mobile, tablets, offline software, or if you want the ability to integrate seamlessly with other apps, you need an API for your web service. Building RESTful API is challenging and rewarding work, and we love creating high-performance APIs that can handle a large amount of traffic for your web and mobile app.


</p>
      <div class="row text-center col-services-2">
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="" style="padding-top:10px;">/</i> </div>
          <h5 class="upper colored">Endpoints</h5>
          <p>Database resources provide access through absolute URLs, which in API terminology are called endpoints. These endpoints accept HTTP request using GET, POST, PUT, and DELETE methods from the HTTP protocol.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-lock-1"></i> </div>
          <h5 class="upper colored">Security</h5>
          <p>Since APIs exposes our application data to an open web world, we follow strict security standards for the API and provide various levels of access. Access to the API is limited using 128 bit keys for the developer.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-doc-text"></i> </div>
          <h5 class="upper colored">Documentation</h5>
          <p>Our comprehensive documentation helps developers quickly understand the API. In the documentation, we provide samples for request and response formats, including exemptions.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-chart-line"></i> </div>
          <h5 class="upper colored">Analytics</h5>
          <p>Our API development also involves the creation of a sophisticated dashboard for you to see the API subscribers and their usage. This data is shown using Google charts.
</p>
        </div>
        
      </div>
    </div>
  </div>




  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Print Design</h5>
              <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Motion Video</h5>
              <p>Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Package Design</h5>
              <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Sound Engineering</h5>
              <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius blandit.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Time Management</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Illustration</h5>
              <p>Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  
  
  {% endblock %}
