{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}


{% block content %}


  <!--/.navbar -->
  <div class="offset"></div>
  <div class="dark-wrapper page-title">
    <div class="container inner">
      <h1>Application Development</h1>
    </div>
  </div>

<div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="row text-center col-services-2">
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-picons-bulb"></i> </div>
          <h5 class="upper colored">E-Commerce Solutions</h5>
          <p>We provide best professional e-Commerce web solutions by turning our your business into a dynamic, visually appealing and digitally optimized online marketplace that turns visitors into long-term customers. Our experience in e-commerce helped us understand what it takes to make an e-commerce website succeed from its design to its ease of use, security, scalability and utilizing latest technology to increase your profitability.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-picons-rocket"></i> </div>
          <h5 class="upper colored">Custom Web Development</h5>
          <p>We are trusted leaders for application development and work with the latest tools available in the industry for the best possible results. Our web development services include everything from static websites to advanced internet applications, e-commerce solutions to social network services, corporate and enterprise solutions, in-short, we provide a wide range of custom web development solutions for you.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-picons-lab"></i> </div>
          <h5 class="upper colored">Enterprise Solutions</h5>
          <p>We provide enterprise solutions to help our client's meet today's complex challenges. We provide organizations with unparalleled solutions to achieve their business objectives efficiently, every client is provided with a customised solution to suit its interests.</p>
        </div>
        
      </div>
    </div>
  </div>




  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Print Design</h5>
              <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Motion Video</h5>
              <p>Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Package Design</h5>
              <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Sound Engineering</h5>
              <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius blandit.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Time Management</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Illustration</h5>
              <p>Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  
  
  {% endblock %}
