{% extends "base.html.twig" %}

{% block title %}{{title}}{% endblock %}
{% block bodyclass %}{{'header-top'}}{% endblock %}


{% block content %}


  <!--/.navbar -->
  <div class="offset"></div>
  <div class="dark-wrapper page-title">
    <div class="container inner">
      <h1>Big Data</h1>
    </div>
  </div>

<div class="light-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>

<p><h5 class="upper colored">Empower Decision Making With Big Data Analytics</h5>
        </p> 

<p>We automate the process of converting large amount of disparate and complex data into a user-ready business model and data store. This empowers analysts and business owners to easily analyze, visualize and report data across various sources without relying on IT. We gather data from multiple sources like large data warehouses, web clickstreams and social media to build a 360 degree view of a business.

</p>

      <div class="row text-center col-services-2">
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-picons-bulb"></i> </div>
          <h5 class="upper colored">Strategy</h5>
          <p>Every new technology requires a powerful strategy and Big Data is not an exception. As Big Data services are in trend, its adoption is also rapid. Though there are endless success stories, it is still essential to have an effective adoption strategy for your business. We help determine the use cases for Big Data services & further craft a good strategy for your organization. The entire strategy is built in close collaboration with the key stakeholders of your company. This ensures that their requirements are fulfilled & are aligned with big data and analytic solutions.
</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-flow-tree"></i> </div>
          <h5 class="upper colored">Architecture</h5>
          <p>Once a clear strategy & use of big data services are defined, this is the time to develop a comprehensive architecture that works well for the primary set of applications. Big data analytic services can also be expanded easily for the future applications. Our consultants possess immense experience as big data service provider. They work closely with customers and provide them integrated big data solutions, which encompasses unstructured & structured data and various other transactional data sources. We also suggest big data and analytic solutions that will work the best as per your needs.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-database"></i> </div>
          <h5 class="upper colored">Data Science</h5>
          <p>The process of defining the architecture for your big data, implementing that to the store and retrieving the data is just one face of big data solutions. However, the other face is the possibility to achieve an insight into the business using the services of big data companies. We have a team of astute data analysts, who possess vast experience in dealing with the analytical models for issues like fraud detection, customer churn prediction and recommendation engines.</p>
        </div>
        <div class="col-sm-3 col">
          <div class="icon-border bm10"> <i class="icon-chart-bar"></i> </div>
          <h5 class="upper colored">Big Data Analytics</h5>
          <p>We offers you an easy opportunity to analyze your huge business data with its big data solutions. Our data analyst takes a smart approach to harvest, analyze and activate the data for providing unique business solutions. For our consultants, big data is an opportunity to jump-start the digital marketing program in the favor and the growth of the business. By analyzing data volume, velocity and variety, a business can have the required solution.</p>
        </div>
      </div>
    </div>
  </div>




  <div class="dark-wrapper">
    <div class="container inner">
      <div class="section-title text-center">
        <h2>What We Do</h2>
        <span class="icon"><i class="icon-cog-1"></i></span> </div>
      <div class="col-services">
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-printer icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Print Design</h5>
              <p>Nulla vitae libero, a pharetra augue. Integer posuere a ante venenatis condimentum. Donec id elit non mi porta gravida metus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-tv icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Motion Video</h5>
              <p>Vestibulum id ligula porta euismod semper. Aenean lacinia bibendum vestibulum. Cum sociis natoque penatibus et parturient.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-gift icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Package Design</h5>
              <p>Aenean eu leo quam. Pellente ornare sem lacinia quam venenatis vestibulum sagittis montes, nascetur ridiculus mus.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row -->
        <div class="divide30"></div>
        <div class="row">
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-casette icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Sound Engineering</h5>
              <p>Fusce dapibus commodo, tortor mauris condimentum nibh, ut fermentum massa. Maecenas sed diam eget risus varius blandit.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-clock icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Time Management</h5>
              <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis sit amet non magna sit amet tortor sagittis.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 -->
          <div class="col-sm-4">
            <div class="icon"> <i class="icon-picons-brush-2 icn"></i> </div>
            <!-- /.icon -->
            <div class="text">
              <h5 class="upper">Illustration</h5>
              <p>Morbi leo risus, porta ac consectetur ac at eros. Cras mattis consectetur purus. Cras mattis consectetur purus fermentum.</p>
            </div>
            <!-- /.text --> 
          </div>
          <!-- /.col-sm-4 --> 
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.services --> 
    </div>
  </div>
  
  
  {% endblock %}
